.clientliste{
    width: 900px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin: 20px;
        font-family: 'Roboto';
        font-size: 20px;
    }
    table{
        border: 1px solid #373828;
        width: 800px;
        thead{
            th{
                border: 1px solid #555;
                font-family: Open sans;
                font-size: 1em;
            }
        }
        tbody{
            tr{
                td{
                    border: 1px solid #555;
                    padding: 10px;
                    font-family: 'Roboto';
                    font-size: 1em;
                }
            }
            .del-user{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                background-color: red;
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}