.card-panier{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 100px;
    margin-left: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdbee;

    figure{
        .left{
            margin-left: 20px;  
        }
        img{
            object-fit:contain;
        }
    }
    
    .donnee{
        display: flex;
        flex-direction: column;
        min-width: 300px;
       .title{
            font-size: 0.9em;
            font-weight: 600;
            text-transform: uppercase;
            font-family: Open sans;
            margin-left: 5px;
        }
        p{
            font-family: 'Roboto';
            font-size: 0.9em;
            margin-left: 5px;
        }
    }
   
    .rigth{
        margin-right: 20px;
        display: flex;
        align-items: center;
        .btn-in,.btn-dec{
            width: 30px;
            height: 30px;
            border: 1px solid #cdcdcd;
            background:#fff;
            color: #aaaaaa;
            font-size: 16px;
            font-weight: 600;
            margin:10px;
            cursor: pointer;

        }
        .btn-del{
            width: 30px;
            height: 30px;
            border: none;
            color: #a0a0a0;
            background-color: #fff;
            font-size: 16px;
            font-weight: 500;
            margin:10px;
            .icon{
                font-size: 1.3em;
            }
            cursor: pointer;
        }
    }
}