.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label{
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            color: red;
            font-size: 1em;
            font-family: 'Roboto';
        }
    }
    input{
        width: 25rem;
        height: 40px;
        margin: 10px;
        padding-left: 15px;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: 500;
        outline: none;

    }
    .btn-login{
        width: 26.2rem;
        height: 40px;
        background-color: teal;
        color: #fff;
        border: none;
        margin: 10px;
        font-family: Open sans ;
        font-size: 1em;
        cursor: pointer;
    }
    .btn-signup{
        width: 26.2rem;
        height: 40px;
        background-color: #000;
        color: #fff;
        border: none;
        margin: 10px;
        font-family: Open sans;
        font-size: 1em;
        cursor: pointer;
    }
    .ligne-ou{
        display: flex;
        align-items: center;
    .barre{
        width: 150px;
        height: 2px;
        margin: 5px;
        background-color: #c9c9c9;
    }
    h2{
        font-family: Open sans;
        font-size: 1em;
    }
   }
   .link{
    width: 26.2rem;
    font-size: 0.9em;
    font-family: 'Roboto';
    text-align: right;
    text-decoration: none;
    margin-right:  40px;
    margin-top: 10px;
    margin-bottom: 10px;
   }
}