.panier{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    .calcule{
            width: 300px;
            height: 200px;
            padding: 15px;
            margin-top: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 1px 1px 1px 1px #e2e2e2;
            h1{
                font-family: Open sans;
                font-size: 20px;
                
            }
            p{
                
                font-family: 'Roboto';
            }
        h2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Open sans;
            font-size: 16px;
            span{
                font-family: 'Roboto';
                font-size: 1em;
                font-weight: 300;
                margin-left: 20px;
            }
        }
    }
    .cart-prod{  
        background-color: #fff;
        display: flex;
        flex-direction: column;
        width: calc(100% - 50%);
        max-height: 100vh;
        overflow-y: scroll;
        margin: 20px;
        border-radius: 10px;
        //padding-top: 15px;
        box-shadow: 1px 1px 1px 1px #e2e2e2;
        h2{
            font-family: Open sans, sans-serif;
            font-size: 20px;
            color: #555;
        }
        .zone-vide{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .vide{
            font-family:Open sans;
            font-size: 20px;
            font-weight: 600;
            color: #cacaca;
            text-align: center;
            margin: 20px;
        }
    }
    }
    .calc{
        margin: 20px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px #e2e2e2;
        background-color: #fff;
        h1{
            font-family: Open sans;
            font-size: 20px;
            margin: 10px;

        }
        .formu-env{
            display: flex;
            flex-direction: column;
            label{
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    font-family: 'Roboto';
                    font-size: 1em;
                    color: red;
                }
            }
            input{
                width: 250px;
                height: 40px;
                outline: none;
                border: 1px solid #e9e9e9;
                padding-left: 15px;
                font-family: 'Roboto';
                margin: 10px;
            }
            .left{
                display: flex;
                flex-direction: column;
            }
            .rigth{
                display: flex;
                flex-direction: column;
                .btn-send{
                    width: 269px;
                    height: 40px;
                    margin: 10px;
                    background-color: teal;
                    color:#fff;
                    font-weight: 600;
                    border: none;
                    font-family: 'Roboto';
                    font-size: 1em;
                    cursor: pointer;
                }
            }
        }
    }
}